@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
    string controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string action = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo mt-4'>
        <a asp-controller="Home" asp-action="Dashboard" class="app-brand-link">
            <span class="app-brand-logo demo me-1">
                <img src="~/img/illustrations/logo.png" alt="Micro Bill Logo" style="height: 40px;" />
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item mt-4 @(controller == "Home" && action == "Dashboard"  ? " active open" : "")'>
            <a asp-controller="Home" asp-action="Dashboard" class="menu-link">
                <i class="menu-icon tf-icons ri-home-smile-line"></i>
                <div>Dashboards</div>
            </a>
        </li>

        <li class="menu-header mt-4">
            <span class="menu-header-text">Customer Support</span>
        </li>
        <!-- Apps -->
        <li class='menu-item @(controller == "Customer" && action == "Index"  ? " active open" : "")'>
            <a asp-controller="Home" asp-action="Dashboard" class="menu-link">
                <i class="menu-icon tf-icons ri-user-line"></i>
                <div>Customers</div>@* <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> *@
            </a>
        </li>
        <li class='menu-item@(controller == "Customer" && action == "Index"  ? " active open" : "")'>
            <a asp-controller="Home" asp-action="Dashboard" class="menu-link">
                <i class="menu-icon tf-icons ri-bill-line"></i>
                <div>Bills</div>
            </a>
        </li>
        <li class='menu-item @(controller == "Customer" && action == "Index"  ? " active open" : "")'>
            <a asp-controller="Home" asp-action="Dashboard" class="menu-link">
                <i class="menu-icon tf-icons ri-calendar-line"></i>
                <div>Demo</div>
            </a>
        </li>



        <!-- Forms & Tables -->
        <li class="menu-header mt-4"><span class="menu-header-text">Reports</span></li>
        <!-- Forms -->
        <li class='menu-item @(controller == "Customer" && action == "Index"  ? " active open" : "")'>
            <a asp-controller="Home" asp-action="Dashboard" class="menu-link">
                <i class="menu-icon tf-icons ri-file-user-line"></i>
                <div>Customer Reports</div>
            </a>
        </li>

        <li class='menu-item @(controller == "Customer" && action == "Index"  ? " active open" : "")'>
            <a asp-controller="Home" asp-action="Dashboard" class="menu-link">
                <i class="menu-icon tf-icons ri-line-chart-line"></i>
                <div>Sales Reports</div>
            </a>
        </li>

    </ul>

</aside>
<!-- / Menu -->
